.Payment {
  padding: 3rem;
  background: rgb(210, 198, 198);
  border-radius: 2rem;
  width: 800px;
  h1 {
    font-size: 3rem;
    color: #d5d5d5;
  }
  .content {
    margin-left: 4rem;
    .card {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      margin-top: 2rem;
      gap: 0.5rem;
      h4 {
        font-size: 1rem;
      }
      p {
        font-size: 0.8rem;
      }
      button {
        font-size: 1rem;
        padding: 0.8rem 2.5rem;
        border-radius: 0.5rem;
        color: white;
        background: #16bbb4;
      }
    }
  }
}
