.inputContainer {
  position: relative;
  & > .input {
    width: 100%;
    padding: 12px 11px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    &::placeholder {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 0.15px;
      color: #717171;
    }
  }
  & > .iconBlock {
    position: absolute;
    top: 50%;
    right: 11px;
    transform: translateY(-50%);
  }
}

.areaContainer {
  position: relative;
  & > .area {
    width: 100%;
    padding: 12px 11px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    &::placeholder {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 0.15px;
      color: #717171;
    }
  }
}
