.inputWrapper {
  position: relative;
  width: 100%;
  font-family: inherit;
}

.errorInput {
  border-color: var(--input-error) !important;
}

.label {
  font-family: Montserrat;
  position: absolute;
  top: 6px;
  left: 12px;
  font-size: 12px;
  color: var(--color-text-secondary);
  pointer-events: none;
  background-color: var(--color-surface);
  transition: all 0.2s ease;
}

.floating {
  color: var(--color-text-secondary);
  font-weight: 500;
}

.helperText {
  font-family: Montserrat;
  font-size: 12px;
  color: var(--color-text-secondary);
  margin-top: 4px;
  margin-left: 4px;
}

.errorText {
  font-family: Montserrat;
  font-size: 12px;
  color: var(--color-danger);
  margin-top: 4px;
  margin-left: 4px;
}

.filled {
  border-color: var(--color-text-primary) !important;
}

.inputContainer {
  position: relative;
}

.input {
  width: 100%;
  padding: 20px 40px 20px 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid var(--color-footer-backgroundz);
  outline: none;
  box-sizing: border-box;
  font-family: Montserrat;
}

.calendarButton {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-family: Montserrat;
}

.hiddenDateInput {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  width: 0;
  height: 0;
  font-family: Montserrat;
}
