@import url(../../styles/_variables.scss);

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 12px;
  background: transparent;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
  z-index: 2000;
  background: #fff;
}

.headerWeather {
  position: absolute;
  right: 80px;
  z-index: 5;
}

.headerDefault {
  background: #fff;
  box-shadow: none;
}

.headerScrolled {
  background: #fff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  padding-inline: 25px;

  .title {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: black;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .titleHidden {
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
  }
}

.langIcon,
.burgerIcon,
.personIcon {
  cursor: pointer;
}

@keyframes colorCycle {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.mainContent {
  display: flex;

  .menu {
    position: relative;
    z-index: 0;
    width: 86px;
    height: 48px;
    border-radius: 22px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
    overflow: hidden;
    margin-left: 16.72px;
  }

  .menu::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 22px;
    padding: 2px;
    background: linear-gradient(
      270deg,
      #00b2a940,
      #ff6b3540,
      #00cbc140,
      #ff7a4a40
    );
    background-size: 600% 600%;
    animation: colorCycle 7s ease infinite;
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
    pointer-events: none;
    box-sizing: border-box;
  }
}

.searchBar {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 850px;
  height: 66px;
  border-radius: 22px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  // overflow: hidden;
  transition: all 0.3s ease, transform 0.3s ease, width 0.3s ease, top 0.3s ease;
  z-index: 0;
}

.searchBar::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 25px;
  padding: 2px;
  background: linear-gradient(
    270deg,
    #00b2a940,
    #ff6b3540,
    #00cbc140,
    #ff7a4a40
  );
  background-size: 600% 600%;
  animation: colorCycle 5s ease infinite;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
  pointer-events: none;
  box-sizing: border-box;
}

.searchBarScrolled {
  position: fixed;
  top: 12px;
  left: 50%;
  transform: translateX(-50%) scale(0.9);
  width: 338px;
  height: 47px;
  border-radius: 19px;
  z-index: 101;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);

  .searchBarEnd {
    gap: 0;
    height: 47px;
    &:hover {
      cursor: pointer;
      background-color: transparent;
    }
  }
  .searchItem {
    position: relative;
    padding: 14px 20px;

    &:hover,
    &:focus {
      background-color: transparent;
      cursor: default;
    }
  }
  .input {
    width: 46px;
  }
  .searchText {
    display: none;
  }
}

.searchBarScrolled::before {
  border-radius: 19px;
}

.searchItem {
  position: relative;
  cursor: pointer;
  padding: 14px 24px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s ease;

  .label {
    font-size: 12px;
    font-weight: 700;
    color: #000;
  }
  .placeholder,
  input {
    font-size: 14px;
    color: #333;
  }
  &:hover,
  &:focus {
    background-color: #dddddd;
    outline: none;
  }

  .highlight {
   background-color: green;
  }
  
  
}
.activeBgGray {
  background-color: #dddddd;
}

.transitionBgGray {
  background-color: transparent;
  animation: fadeGray 0.5s forwards;
}
.noneBg {
  background-color: transparent;
}

@keyframes fadeGray {
  0% {
    background-color: #dddddd
  }
  100% {
    background-color: transparent;
  }
}



.divider {
  width: 1px;
  height: 50px;
  background-color: #dddddd;
}

.searchBarScrolled .divider {
  height: 24px;
}
.searchButtonScrolled {
  border-radius: 14px;
  width: 32px;
  height: 32px;

  img {
    width: 12px;
    height: 12px;
  }
}

.searchBarEnd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 0;
  border-radius: 25px;
  transition: all 0.3s ease;


  &:hover {
    cursor: pointer;
    background-color: #dddddd;
  }

  .searchButton {
    overflow: hidden;

    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 22px;
    background-color: #16bbb4;
    cursor: pointer;
    transition: width 0.3s ease, padding 0.3s ease;
    color: white;
    font-weight: 600;
    font-size: 16px;
    padding-left: 0;

    img {
      width: 20px;
      height: 20px;
    }

    &.searchButtonActive {
      width: 120px;
      padding-left: 16px;
      justify-content: flex-start;
    }
  }
}

.calendarWrapper {
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translateX(-50%);
  width: 336px;
  height: 345px;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.calendarWrapperOpen {
  opacity: 1;
  pointer-events: auto;
}
.calendarWrapperScrolled {
  position: fixed;
  top: 64px;
}
.dropdownOwerlay {
<<<<<<< fix/create-service-button
=======
  width: 22%;
>>>>>>> dev
  position: relative;
  &:first-child {
    width: 24%;
  }
  &:last-child {
    width: 32%;
  }
}
.modalWrapper {
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
  position: absolute;
  z-index: 9999;
  top: 100%;
  left: 0;
}

.modalWrapperOpen {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.modalWrapperScrolled {
  position: fixed;
  top: 64px;
}

.travelersModalWrapper {
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
  position: absolute;
  z-index: 9999;
  top: 100%;
  left: 0;
}

.travelersModalWrapperOpen {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.travelersModalWrapperScrolled {
  position: fixed;
  top: 64px;
}

.searchText {
  color: white;
  user-select: none;
  padding-left: 10px;
}

.searchBarEndScrolled .searchItem .label {
  display: none;
}

.searchBarEndScrolled .searchButton {
  width: 32px;
  height: 32px;
  transition: none;

  img {
    width: 12px;
    height: 12px;
  }

  &.searchButtonActive {
    width: 32px;
    height: 32px;
    padding: 10px;
  }
}

.searchBarScrolled .searchBarEnd {
  gap: 0;
}

.langWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;

  .langIcon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 1px;
    transition: all 0.2s ease;
    border: 1px solid transparent;
    box-sizing: border-box;

    &:hover {
      filter: brightness(0.7);
      border-color: #ccc;
    }

    &:focus {
      outline: none;
      border-color: #000;
    }

    &:active {
      filter: brightness(0.5);
      border-color: #888;
    }
  }
}

.langDropdown {
  position: absolute;
  top: 50px;
  right: -16px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 19px;
  z-index: 100;
  min-width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: slideInDown 0.3s ease forwards;
  opacity: 0;
  pointer-events: none;
  transform-origin: top right;

  &.show {
    opacity: 1;
    pointer-events: auto;
  }

  .langDropdownItems {
    border-radius: 19px;
    padding: 8px 14px;
    cursor: pointer;
    transition: all 0.2s ease;
    color: #a1a1a1;

    &:hover {
      cursor: not-allowed;
    }
  }
  .active {
    font-weight: bold;
    color: black;
    &:hover {
      cursor: pointer;
    }
  }
}

@keyframes slideInDown {
  from {
    transform: translateY(-16px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
