.selectBtn {
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 6px;
  border: 1px solid #dddddd;
  border-radius: 34px;
  &Active {
    border: 1px solid #000000;
  }
  &Icon {
    width: 28px;
    height: 28px;
  }
  &Text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #1a1a1a;
  }
}
