.ObjectsModal {
  padding: 41px 40px 0 0;
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  z-index: 100;

  .modal {
    background: white;
    width: 813px;
    height: 786px;
    box-shadow: -4px 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 35px;
    overflow-y: auto;
    position: relative;
    padding: 2rem 3rem;

    h1 {
      font-size: 3rem;
      color: #d5d5d5;
      margin-bottom: 2rem;
    }

    .content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;

      div {
        cursor: pointer;
      }

      .create {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        height: 180px;
        border: 2px dashed #c6c6c6;
        border-radius: 0.5rem;
        width: 31%;

        img {
          width: 50px;
          height: 50px;
        }

        button {
          padding: 0.4rem 1rem;
          border: 2px solid #c6c6c6;
          border-radius: 10rem;
          font-weight: 600;
          font-size: 13px;
        }
      }

      .card {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        font-weight: 700;
        width: 31%;

        .info {
          div {
            display: flex;
            align-items: center;
          }
        }

        .rating {
          display: flex;
          align-items: center;
          gap: 0.2rem;

          img {
            width: 10px;
            height: 10px;
          }
        }

        img {
          width: 100%;
          height: 180px;
          object-fit: cover;
          border-radius: 0.5rem;
        }

        h3 {
          font-size: 1rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
        }

        p {
          color: #5e5e5e;
          font-size: 0.8rem;
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        span {
          font-size: 0.9rem;
        }
      }
    }

    .gradient {
      position: sticky;
      bottom: -33px;
      left: 0;
      width: 100%;
      height: 150px;
      background: linear-gradient(to top, #fff, rgba(255, 255, 255, 0));
      pointer-events: none;
      z-index: 10;
      margin-top: auto;
    }
  }
}
