.modalFiltersBtn {
  cursor: pointer;
  border: 1px solid black;
  padding: 16px 17px;
  background: #ffffff;
  border-radius: 17px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #1a1a1a;
  &Img {
    width: 16px;
    height: 16px;
  }
}
